{% extends 'base.html' %}

{% load mptt_tags %}

{% block extra_head %}
  <style>
    .post {
      margin-top: 0.8rem;
      margin-bottom: 0.8rem;
      text-decoration: none;
    }

    .post:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .post__author, .post__body, .post__count {
      color: black;
    }
  </style>
{% endblock %}

{% block main %}
  <div class="row justify-content-center">
    <button onclick="window.location.reload();" class="btn btn-success col-auto">Обновить</button>
  </div>

  {% for post in object_list %}
    {% drilldown_tree_for_node post as drilldown %}

    {% for node, structure in drilldown|tree_info %}
      {% if node.level >= post.level %}
        {% if structure.new_level %}
          <ul>
          <li>{% else %}</li>
          <li>{% endif %}
      {% if node == post %}
        <strong>{{ node.body }}</strong>
      {% else %}
        <a href="{{ node.get_absolute_url }}">{{ node.body }}</a>
      {% endif %}
      {% for level in structure.closed_levels %}</li></ul>{% endfor %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  <form method="post" class="row justify-content-center">
    {% csrf_token %}
    <div class="input-group mb-3">
      <textarea class="form-control" placeholder="Содержимое поста" aria-label="body" name="body"></textarea>
    </div>
    <button type="submit" class="btn btn-primary col-auto">Создать новый пост</button>
  </form>

  {% for post in object_list %}
    <a href="{% url 'feed:posts' parent=post.id %}" class="card post">
      <div class="card-header">
        <div class="row justify-content-between">
          <span class="col-auto post__author">{{ post.author }}</span>
          <span class="col-auto text-muted">{{ post.created_at|date:"Y-m-d" }} {{ post.created_at|time:"H:i:s" }}</span>
        </div>
      </div>
      <div class="card-body post__body">
        {{ post.body }}
      </div>
      <div class="card-footer post__count">
        Количество постов: {{ post.get_descendant_count }}
      </div>
    </a>
  {% endfor %}
{% endblock %}

{% block extrajs %}
  <script>
    window.onload = function () {
      setTimeout(function () {
        window.location.reload();
      }, 5000);
    }
  </script>
{% endblock %}
