{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block extra_head %}
  <style>
    .profile-save {
      margin: 1rem;
    }
  </style>
{% endblock %}

{% block main %}
  {% include 'partials/title.html' with title='Профиль' %}

  {% if success %}
    <div class="alert alert-success text-center" role="alert">
      Данные успешно обновлены
    </div>
  {% endif %}

  <form method="post" class="row justify-content-center">
    {% csrf_token %}
    <div class="row">
      <div class="col-12 col-sm-6">
        {{ form.first_name|as_crispy_field }}
      </div>
      <div class="col-12 col-sm-6">
        {{ form.last_name|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      {{ form.email|as_crispy_field }}
    </div>

    {% include 'partials/form_submit_button.html' with text='Сохранить' type='btn-success' %}
  </form>

  <div class="row justify-content-center">
    <a class="btn btn-primary col-auto menu" href="{% url 'password_change' %}">Сменить пароль</a>
  </div>
{% endblock %}
